<!-- displaying articles -->

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form needs-validation small d-flex justify-content-center mt-3" novalidate>
        <div>
          <textarea class="comment-textarea form-control large" name="comment-body" required></textarea>
          <div class="invalid-feedback">
            Can't send an empty comment!
          </div>
        </div>

        <div>
          <button class="button-add-comment btn-success" type="submit">{submit}</button>
        </div>
</form>
{{/if}}

{{> comment post.comments}}


<script src="/javascript/comment.js"></script>
