 <section class="cards cardContent">
<div class="container row d-flex">

  <div class="uk-child-width-1-1@m mt-2" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./img/hike.png" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title"><b>Featureing:</b> Take A Hike </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>

      {{#each}}

      </div>
    </section>
