<div class="column">
  <h2 class="title text-white text-center">Create A New Account</h2>
  <hr />
  <form class="shadow rounded signup-form container row needs-validation text-white text-center" novalidate>
    <div class="inputwrap mt-2">
      <label for="name-signup">Name:</label>
      <input
        type="text"
        placeholder="e.g. Rex Me"
        id="name-signup"
        class="form-control"
        required
      />
    </div>

    <div class="inputwrap mt-2">
      <label for="email-signup">Email:</label>
      <input
        type="text"
        placeholder="e.g.me@me.com"
        id="email-signup"
        class="form-control"
        required
      />
    </div>

    <div class="inputwrap mt-2">
      <label for="password-signup">Password:</label>
      <input
        type="password"
        placeholder="Create password"
        id="password-signup"
        class="form-control"
        required
      />
    </div>

    <div class="inputwrap mt-2">
      <label for="password-confirm">Confirm password:</label>
      <input
        type="password"
        placeholder="Confirm Password"
        id="confirm_password"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Password needs to match and should not be empty!!!
      </div>
    </div>

    <div>
      <button type="submit" class="button mt-3 mb-3 rounded text-secondary shadow btn-warning">
        Create Account
      </button>
    </div>
  </form>
</div>
<!-- javascript file-->
<script src="/javascript/signup.js"></script>
