.fa {

    font-size: 30px;
    width: 30px;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 1%;
    border-radius: 10%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
.profileNav {
    width: 5%;
    border-radius: 50%;
}
.headerPhoto {
margin-top: 5%;
display: flex;
justify-content: center;
}
.profile, .hover-img {
border-radius: 50%;
width: 15%;
height: 15%;
}
.card {
margin-top: 10px;
width: 24.5%;
}

.educationCard{
    cursor: pointer
}

.skillCard {
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-around;
}
.card a :hover {
    opacity: 80%;
}

.profile:hover {
  content: url(../images/IMG_6601.jpg)
}
/* .hover-img, .headerPhoto:hover .profile {
    display: none;
  }

  .headerPhoto:hover .hover-img {
    display: inline;
  } */


.schoolCard {
    background-color: white;
    width: 40%;
}
@media screen and (max-width: 992px){
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 50%;
    }

    .profile, .hover-img{
        width: 30%;
        height: 30%;
    }
}

@media screen and (max-width: 768px) {
    /* .skillCard .card {
        background-color: rgb(240, 237, 231);
    } */

    .profile, .hover-img{
        width: 30%;
        height: 30%;
    }
}

@media screen and (max-width: 576px) {
    /* .profile, .hover-img {
        width: 40%;
        height: 40%;
    } */
    .cards{
    display: block;
    }
    .card{
    width: 100%;
    }

}
.icons {
    justify-content: end;
}

footer {
    font-size: 50%;
    font-family:cursive;
    padding: 30px;
    clear: both;
    text-align: center;
  }
.skillEL a {
    cursor: not-allowed;
}

.expIMG {
    opacity: 30%;
}
