<div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <a href="{{link}}"><img class="card-img-top" src="{{img}}" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text cp">{{content}}</p>
            </div>
</div>
